<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles%}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{%static 'home/fonts/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css'%}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstr  apcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>>
		<script src="{% static 'home/main.js'%}"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{%static 'home/sty_register.css'%}">
        {% endblock %}
		<title>The Butler</title>
		<script>

					$(function() {
			$('a[href*="#"]:not([href="#"])').click(function() {
			  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
				  $('html, body').animate({
					scrollTop: target.offset().top
				  }, 800);
				  return false;
				}
			  }
			});
		  });
		  $(document).ready(function(){
			  $('.danger').popover({
				html : true,
				content: function() {
				  return $('#popover_content_wrapper').html();
				}
			  });
			});


		</script>

	</head>
	<body class="bod">
        <nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #ecedd1;height:50px;">
            <a class="navbar-brand" href="{% url 'home:index' %}" style="position:relative; bottom:20px;"><img src="{%static 'home/images/main.png'%}"></a>
                <div class="row">
                <div class="col-sm-1"></div>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:about' %}"><div class="droplist">About Us</div></a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" style="background: #ecedd1;color: #806040;"
                          type="button" id="dropdownMenu1" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    Services
                  </button>
                  <div class="dropdown-menu"
                     aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="{% url 'houseonrent:index' %}"><div class="droplist">Houses on Rent</div></a>
                    <a class="dropdown-item" href="{% url 'furnitures:index' %}"><div class="droplist">Furniture</div></a>
                    <a class="dropdown-item" href="{% url 'restaurants:index' %}"><div class="droplist">Food Nearby</div></a>
                    <a class="dropdown-item" href="{% url 'homeservices:index' %}"><div class="droplist">Services</div></a>
                  </div>
                </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:favorites' %}"><button class="button1">Favourites</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'forums:index' %}"><button class="button1">Forum</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:logout_user' %}"><button class="button1">Logout</button></a>
                </li>
                <li class="nav-item">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form class="form-inline pull-xs-right" role="search" method="get" action="{% block search %}{% endblock %}">
                    <input class="form-control" type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    <button class="button1">Search</button>
                </form>
                </li>
                <li class="nav-item">

                    <a class='danger' style="
                        position:relative;
                        bottom:7px;
                        background: #ecedd1;
                        color: #806040;
                        height:15px;
                        width:auto;
                        margin:none;
                        border-style:none;
                        border-radius: 5px;
                        transition: all 0.3s ease 0s;
                        " data-placement='bottom' href='#'><i class="fa fa-user"></i></a>
                    <div id="popover_content_wrapper" style="display: none">
                      <div>

                      </div>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <div id="popover-content" class="hide">

        </div>

        {% block body %}
        {% endblock %}
	</body>
</html>