{% extends base_template %}

{% block style%}
    {%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{%static 'home/stylesindex_home.css'%}">
{% endblock %}

{% block body %}

<section class="parallax">
    <!--Spacing-->
    </br></br></br></br><br>
        <br><br><br><br><br><br><br><br>




    <!--Stuff goes here-->
    <div class="content">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                    {%load staticfiles%}
                <img src="{%static 'home/images/logo.png'%}">
                <div align="center"> <br><br><p class="sub">PERSONALIZED SERVICES</p></div>
                <div align="center"><a class="ghost-button-transition" href="#two">GET STARTED</a></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br>

    </div>
</section>

<section style="min-height:100%" id="two">
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>




    <!--Stuff goes here-->
    <div style="padding:20px;">
        <div class="row">

            <div class="col-sm-3">
                <div class="demo-card-image mdl-card mdl-shadow--6dp" id="rentcard">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename"><p class="title"><a href="{% url 'houseonrent:index' %}">Houses on Rent</a></p></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="demo-card-image mdl-card mdl-shadow--6dp" id="furniturecard">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename"><p class="title"><a href="{% url 'furnitures:index' %}">Furniture</a></p></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="demo-card-image mdl-card mdl-shadow--6dp" id="hotelcard">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename"><p class="title"><a href="{% url 'restaurants:index' %}">Food Nearby</a></p></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="demo-card-image mdl-card mdl-shadow--6dp" id="servicecard">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename"><p class="title"><a href="{% url 'homeservices:index' %}">Services on Demand</a></p></span>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br>
    </div>
</section>


{% endblock %}